@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav{
    position:sticky;
    top:0;
    left: 0;
    width: 100%;
    background-color: #F1EEE7;
    z-index:9;

}
.icone-imag{
    width: 11%;

}
.logo{
    padding: 5px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rech-form{
    height: 30px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 6px;
}

.rech-form input{
    width: 100%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}
::placeholder{
    color: #09090952;
    font-size: 15px;
}
.rech-form button img{
    width: 18px;

}
.rech-form button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(56, 37, 22, 0.411);
    cursor: pointer;
}



.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-items a{
    margin-left: 20px;
}

.icones{
    display: flex;
    gap: 20px;
}
.icones i{
    color: black;
}
.burger-menu {
    display: none;
  }
  .burger-menu img{
    height: 10px;
  }
.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    border-top: 1px solid #24262b;

}
.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #473829cb;
    opacity: 0.5;

}
.link:hover{
    opacity: 1;
}
.logo, .nav-items, .links-container {
    display: flex;
  }
/*page1*/
.page1 {
    background: #f5f5f5;
    padding: 10px;
    text-align: center;
    height: 87vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-image: url(couverture-ornementale-pres-du-bouquet.jpg); */
    /* background-size: cover; */
    /* padding: 200px 250px; */
    /* color: whitesmoke; */
    /* align-items: center; */
  }


  /* .img-container-page1 img:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 410px;
  } */

  .content-page1 {
    width: 80%;
    margin: 60px 10px;
  }
  .img-container-page1 {
    position: relative;
    width: 90%;
}
  .img-container-page1 img:nth-child(1){
    width: 50%;
    height: 80%;
}
.img-container-page1 img:nth-child(2){
    width: 40%;
}
  .content-page1 h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .content-page1 p {
    line-height: 1.6;
    margin-bottom: 30px;
  }
  .btn-page1 {
    display: inline-block;
    padding: 12px 24px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }

  .btn-page1:hover {
    background: #666;
  }


/*section2 */
/* .popular-prod{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:#AE8564;
    padding: 20px 0;
}
.prod{
    background-color: #AE8564;
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px 35px;                       /* ****** */
    /* height: 100%;
    width: 100%;
    padding: 90px;
    padding-top: 50px;

}
.discount-tag{
    position: absolute;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: rgb(219, 98, 98);
    padding: 2px;

}
/* .card-btn{
    position:absolute;
    /* bottom: 10px;
    left: 50%;
    transform: translateX(-50%); */
    /* left: 9rem;
    top: 18rem;
    padding: 10px; */
    /* width: 90%; */
    /* text-transform: capitalize;
    outline: none;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
} */
/* .grand-item1{
    background-color: blue;
    grid-column: 1/2;
    height: 250px;
}
.grand-item2{
    background-color: aquamarine;
    grid-column: 2/3;
}
.grand-item3{
    background-color: rgb(255, 213, 0);
    grid-column: 3/4;
} */
/* .grand-item4{
    background-color: rgb(0, 123, 255);
     grid-column: 4/5;
}
.grand-item5{
    background-color: rgb(0, 255, 140);
     grid-column: 1/2;
    grid-row: 2/3;
    height: 250px;
}
.grand-item6{
    background-color: rgb(255, 136, 0);
    grid-column: 2/3;
    grid-row: 2/3;
}
.grand-item7{
    background-color: rgb(255, 0, 68);
     grid-column: 3/4;
    grid-row: 2/3;
}  */
/* .grand-item8{
    background-color: rgb(226, 146, 237);
     grid-column: 4/5;
    grid-row: 2/3;
}

.prod img{
    height: 200px;
    width: 100%;
}

.titre-produits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
.categories-prod{
    height: 100vh;
    width: 100%;
    background-color:darkred;
} */
.product-container{
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    height: 160vh;
    width: 100%;
    background-color: white;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{

    flex: 0 0 auto;
    width: 20%;
    height: 100px;
    margin-right: 40px;
    margin-top: 20px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}


.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}
/* page3 */

.reduction{
    height: 60vh;
    width: 100%;
    background-color: #291b0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.offer {
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1000;
  }

  .countdown div {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
  }

  .countdown span {
    display: block;
  }
  .reduction button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: #F1EEE7;
  }
  .reduction button:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

/**********page 4*************/
.categories-prod{
    padding: 30px 70px;
}
.ligne-elemt {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 6px;

}

.box{
    width: 250px;
    height: auto;
    position: relative;

    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(3, 18, 35, 0.274);
    overflow: hidden;
}
/* .box {
    flex: 0 0 300px;
  } */
.box img{
    width: 100%;
    height: 100%;
}
.type-produit{
    position: absolute;
    top: 16rem;
    margin-left: 10px;
    color: white;
    font-size: 700;
    text-shadow: #000000;
}
.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #291b0a;
    opacity: 0.6;
    display: flex;
    justify-content:center;
    align-items: center;

}

.buy-btn{
    position: absolute;
    top: 200px;
    left: 55px;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: black;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px #00000034;
    z-index: 0;
    opacity: 0;
}

.buy-btn:hover{
    color: white;
    background-color: rgb(53, 20, 15);
}
.overlay{
    visibility: hidden;
    z-index: 0;
}
.box:hover .overlay{
    visibility: visible;
}
.box:hover .buy-btn{
    opacity: 1;
    z-index: 2;
}
.news-letter{
    height: 50vh;
    width: 100%;
}
.form-email{
    display: flex;
    justify-content: center;
}
/* a propos*/
/* .about{
    height: 60vh;
    width: 100%;
    background-color: aquamarine;
} */
.about {
    width: 100%;
    height: 70vh;
    padding: 0 90px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .about-content{
    background-color: #291b0a;
    width: 50%; 
  }


  .about img {
    width: 500px;
    height: 400px;
  }


  .about p {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px 0;
  }

/**************footer********/
/* .pied-page{

}
.container-footer{
  max-width: 1170px;
  margin:auto;
} */
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.pied-page{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #cdb39e;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

.social-links img{
    height: 40px;


}



/*artsans*/
.artisan-page{
    background-color: #cdb39e;

}
.artisan{
    width: 900px;
    display: flex;
    
    overflow-x: scroll;
    overflow: hidden;
}
.artisan div{
    background-color: #cdb39e;
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 30px 0;
    flex: none;
}
 .rating-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artisan div img{
    width: 100%;
    transition: 0.5s;
}
.rating-sec img{
    width: 300px;
    height: 350px;
}
.artisan ::-webkit-scrollbar{
    display: none;
}
.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus {
    color: orange;
    cursor: pointer;
 }
.artisan button{
    height: 30px;
    width: 200px;
    margin-top: 200px;
    border-radius: 5px;
    cursor: pointer;


}
.scroller{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#back-btn,#next-btn{
    width: 50px;
    cursor: pointer;
    margin: 40px;

}

.artisan div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*newaletter*/
.home-newsletter {
    padding: 80px 0;
    background: #291b0a;
    }
    .container-n{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input
    .home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
    .home-newsletter .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px; }
    .home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px;
    width: 400px; }
    .home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
    .home-newsletter .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #524c47;
    color: #fff;
    }




    /* @media(max-width: 767px){
        .footer-col{
          width: 50%;
          margin-bottom: 30px;
      }
      .links-container{
        font-size: 10px;
        padding: 5px;
      }
      .rech-form{
        width: 150px;

      }
      .product-image img{
        height: 200px;
        width: 150px;
      }
      .offer{
        font-size: 20px;
      }
      .ligne-elemt{
        overflow-x: hidden;}
        .box{
            

    }}


      
      @media(max-width: 574px){
        .footer-col{
          width: 100%;
      }
      }
 */
 @media (min-width:501px) and (max-width: 768px) {
    body{
        width: 800px;
        overflow-x: hidden;
    }
    .nav{
        width: 800px;
        overflow-x: hidden;
    }
    .nav-items, .links-container  {
        flex-direction: column;
    }
    /* .links-container{
        font-size: 10px;
        padding: 5px;
      } */
      .rech-form{
        width: 250px;
        margin-left: -50px;
      }
      .search {
        width: 40%;
      }
      .burger-menu {
        display: block;
      }
      .links-container {
        flex-direction: column;
        display: none; 
      }
      .open .links-container {
        display: flex;
      }
      .rech-form input{
  
      }
      ::placeholder{
        font-size: 12px;
    }
    /*/page1*/
    .page1 {
        display: block;
        height: 100%;
       /* flex-direction: column;*/
      }
      .img-container-page1 {
        width: 80%;
        margin-left: 10%;
    }

      .content-page1 h2 {
        font-size: 20px;
        margin-left: 20%;
    }
    .content-page1 p {
        font-size: 10px;
        margin-left: 20%;
    }
    .btn-page1{
        font-size: 10px;
        margin-left: 20%;

    }
    /*page2*/
    .product-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 250vh;
        padding-top: -40px;
    }
    .product-card{
        width: 150px;
    }
    .offer{
        width: 100%;
        font-size:20px ;
    }
    .categories-prod{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*page3*/
    .box {
        width: 40%;
        margin-left: 35%;
      }
/* a propos*/
      .about {
        height: 90vh;
        flex-direction: row; 
        justify-content: center;
      }
      .about img
  {
    height: 80%;
    width: 100%;
    border-radius: 10px;
  }
  .about-content {
    width: 80%;
    padding: 18px 18px;
    margin-top: -200px;
  }
  .about-content h3 {
    font-size:20px ;
  }
  .about-content p {
    font-size:14px ;
  }
  .artisan-page{
    width: 100%;
  }
  .artisan-page img{
    width: 80%;
    height: 80%;
  }
  .artisan-page .backg{
    margin-top: 120px;
  }


  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.links-container{
  font-size: 10px;
  padding: 5px;
}

  }

  @media (max-width: 500px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }
    .nav{
        width: 100%;
        overflow-x: hidden;
    }
    .nav-items, .links-container  {
        flex-direction: column;
    }
    /* .links-container{
        font-size: 10px;
        padding: 5px;
      } */
      .rech-form{
        width: 200px;
        margin-left: -50px;
      }
      .search {
        width: 40%;
      }
      .burger-menu {
        display: block;
      }
      .links-container {
        flex-direction: column;
        display: none; 
      }
      .open .links-container {
        display: flex;
      }
      ::placeholder{
        font-size: 12px;
    }
    /*/page1*/
    .page1 {
        display: block;
        height: 100%;
       /* flex-direction: column;*/
      }
      .img-container-page1 {
        width: 80%;
        margin-left: 10%;
    }

      .content-page1 h2 {
        font-size: 20px;
        margin-left: 15%;
    }
    .content-page1 p {
        font-size: 10px;
        margin-left: 15%;
    }
    .btn-page1{
        font-size: 10px;
        margin-left: 15%;

    }
    /**/
    /*page2*/
    .product-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 250vh;   
    }
    .product-card{
        width: 150px;
    }
    .offer{
        width: 100%;
        font-size:20px ;
    }
    .categories-prod{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-container{
        height: 190vh;
    }
    .product-card {
      width: 40%;
      height: 50%;
      margin-right: 5px;
     margin-top: 20px; 
    }
    .product-image{
        height: 70%;
    }

/* page3*/
.reduction{
    height: 70vh;

}
    .offer{
        font-size: 20px;
      }
/**/

      .box {
        width: 60%;
        height: 60%;
        margin-left: 100px;
        
      }
      .box h1{
        margin-top: -100px;
      }
      /* a propos*/
      .about {
        height: 80vh;
        flex-direction: row; 
        justify-content: center;
      }
      .about img
  {
    height: 80%;
    width: 100%;
    border-radius: 10px;
  }
  .about-content {
    width: 80%;
    padding: 18px 18px;
    margin-top: -200px;
  }
  .about-content h3 {
    font-size:20px ;
  }
  .about-content p {
    font-size:10px ;
  }
  /**/
  .artisan-page{
    width: 100%;
  }
  .artisan-page img{
    width: 100%;
    height: 80%;

  }
  .artisan-page .backg{
    margin-top: 120px;
  }
  .artisan div{
    gap: 2px};
  /**/
      .pied-page{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .home-newsletter .single .form-control {
        height: 40px;
        width: 300px; }
        .home-newsletter .single h2 {
            font-size: 18px;
        }
        .home-newsletter .single .btn {
            min-height: 40px;

  }
}